.vs-page_content {
    width: 100%;
    min-height: 100vh;
    background-color: var(--page-content-bg);
    color: rgb(255, 255, 255);
    overflow-x: hidden;
}


/* Define the scrollbar width first */
.vs-page_content::-webkit-scrollbar {
    width: 12px;
    /* or whatever width you want */
}

/* Style the scrollbar track */
.vs-page_content::-webkit-scrollbar-track {
    background-color: var(--page-content-bg);
}

/* Optional: style the thumb (the draggable part) */
.vs-page_content::-webkit-scrollbar-thumb {
    background-color: rgb(146, 146, 146);
    border: 4px solid var(--page-content-bg);
    border-radius: 10px;
}

.vs-pageTop {
    height: 55px;
    width: 100%;
    padding: .5rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: .4rem;
    color: var(--sidebar-toggle-btn);
    overflow: hidden;
}

.vs-pageTop_iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in;
    padding: .6rem;
}

.vs-pageTop_iconWrapper:hover {
    background-color: #393939;
}



.vs-pageBody {
    width: 100%;
    height: calc(100vh - 58px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 2rem;
    padding-bottom: .5rem;
    box-sizing: border-box;
    align-items: center;
}

.vs-pageBody_innerBox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
}

@media (max-width: 600px) {

    .vs-pageBody {
        padding: 0 1.2rem;
        padding-bottom: .5rem;
    }
}