.settings_page_content {
    overflow-x: hidden;

    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--page-content-bg);
}

.settings_pageTop {
    height: 10%;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}


.settings_sideBar_trigger {
    cursor: pointer;
    width: fit-content;
}


.settings_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    box-sizing: border-box;
    width: 100%;
    align-self: center;
    align-items: center;
    z-index: 14;
    position: relative;
}

.settingsTab {
    width: 64%;
    /* border: 1px solid black; */

}

.tabsList {
    height: max-content;
    padding: .4rem;
    gap: 1rem;
    display: flex;
    background: transparent;
}

.tabsTrigger {
    padding: .6rem 0;
    color: rgba(225, 225, 225, 0.903);
    cursor: pointer;
    background-color: rgba(193, 193, 193, 0.385);
}

.tabsTrigger[data-state="active"] {
    color: black;
}

.settings_cardContent {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.settings_cardRow {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: black;
}

.settings_cardRow_content {
    padding: .6rem .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13.2px;

    border-radius: 10px;
    color: var(--fog);
    text-transform: capitalize;

    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.12);
}

.settings_cardRow_content.gray {
    color: rgb(87, 87, 87);
    font-size: 12px;
}

.settings_cardRow_content span {
    margin: 0 1rem;
    color: black;
    font-size: 15.4px;
}

.tabCardContent {
    width: 80%;
}


.userLetter {
    border: 1px solid rgb(23, 23, 23);
    width: max-content;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.userAvatar {
    width: 100%;
    height: 100%;
}

.inputOverBox {
    max-width: 540px;
}

.settingProfileInput {
    max-width: 540px;

    color: gray;
    border: 1px solid rgba(128, 128, 128, 0.59);
}

.settingProfileInput.password {
    color: black;
}

.lockIcon {
    color: #5A0001;
}

.fogBtn {
    color: white;
    background-color: black;
    cursor: pointer;
    transition: all 0.3s ease-in;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.12);
}

.fogBtn.alt {
    background-color: var(--red-brand-color);
    margin-left: 1.4rem;
}

.fogBtn:hover {
    background-color: transparent;
    color: black;
}


.fogBtn.alt:hover {
    background-color: transparent;
    color: black;
}


/* Clean circle image */
.userAvatar {
  border-radius: 9999px;
  object-fit: cover;
}

/* Optional: tighter save button */
.saveBtn {
  padding: 0.3rem 0.8rem;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}


.dangerZone {
    border-radius: 12px;
    padding: .8rem;
    background: #ffeaea;
}

/* Mobile */
@media (max-width: 768px) {

    .settings_content {
        padding: 0 1rem;
    }

    .settingsTab {
        width: 100%;
    }
}

@media (max-width: 525px) {

.tabCardContent {
    width: 96%;
}

    .settings_cardRow {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.2rem;
    }


}

/* Dark Theme */

.dark .tabsContent {
    background-color: white;
}



.dark .tabsTrigger {
    padding: .6rem 0;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.668);

    color: rgba(225, 225, 225, 0.703);
    background-color: rgba(193, 193, 193, 0.285);
}

.tabsTrigger[data-state="active"] {
    color: black;
    background-color: #fff;
}