.modelTemplates {
    width: 100%;
    height: calc(100% - 160px);
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.dashboardLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: 100%;
}

.dl_logo {
    width: 320px;
    height: max-content;
}

.assSlugIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.modelImg {
    width: 48px;
    height: max-content;
}

.templatesTitle {
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
}

.shallWeBegin {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 100%;
    color: #510003;
}

.modelCard_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    place-items: center;
    gap: 1rem;
    align-items: stretch;
    place-content: center;
}

.modelCard {
    width: 100%;
    border: 2px solid #303030;
    display: flex;
    box-sizing: border-box;
    overflow-wrap: anywhere;
    padding: .8rem;
    border-radius: 12px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    max-width: 260px;
}

.modelCard:hover {
    transform: scale(1.04);
}

.modelCard>p {
    opacity: .8;
}


@media (max-width: 1026px) {
    .modelCard_wrapper {
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 575px) {
    .modelCard_wrapper {
        grid-template-columns: 1fr;
        gap: .6rem;
    }

    .templatesTitle {
        font-size: 26px;
    }

}

.dark .modelCard {
    border: 2px solid #b4b4b4;
}

.dark .shallWeBegin {
    color: #ffffff;
}