

.twiqBg {
    position: absolute;
    top: -15.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: max-content;
    z-index: 10;
    opacity: .72;
    max-width: 1600px;
    object-fit: cover;
}




@media (max-width: 1200px) {


    .twiqBg {
        top: 0;
    }

}

.dark .twiqBg {
    opacity: 1;
}

