.twiqBg {
    position: fixed;
    top: 0;
    left: 0;
    /* transform: translateX(-50%); */
    margin: 0 auto;
    width: 100vw;
    height: max-content;
    opacity: .64;
    /* max-width: 4000px; */
    object-fit: cover;
}


.dark .twiqBg {
    opacity: .8;
}