.modelOverview {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid rgba(128, 128, 128, 0.147);
    transform: scale(1);
    transition: all 0.25s ease-in;
    padding: 1rem 0;
    gap: .8rem;
    max-width: 280px;

    background-color: var(--red-brand-color);
    /* background-color: var(--red-brand-color); */
    border: 5px solid rgba(184, 184, 184, 0.253);

    border-radius: 16px;

    -webkit-box-shadow: 2px 1px 36px 5px rgba(133, 133, 133, 0.0);
    -moz-box-shadow: 2px 1px 36px 5px rgba(133, 133, 133, 0.0);
    box-shadow: 2px 1px 20px 2px rgba(133, 133, 133, 0.0);
}

.modelOverview.action {
    height: max-content;
    max-height: 250px;
    gap: 1.7rem;
}

.modelOverview:hover {
    transform: scale(1.03);
    -webkit-box-shadow: 2px 1px 36px 5px rgba(133, 133, 133, 0.15);
    -moz-box-shadow: 2px 1px 36px 5px rgba(133, 133, 133, 0.15);
    box-shadow: 2px 1px 20px 2px rgba(133, 133, 133, 0.15);
}

.icon_container {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 140px;
}

.modelImg {
    width: 80px;
    height: max-content;
}

.modelIcon {
    font-size: 2rem;
}

.modelImage {
    object-fit: cover;
}

.info_container {
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: 3px solid rgba(184, 184, 184, 0.253);
    width: 90%;
    align-self: center;
    border-radius: 15px;
    position: relative;
    flex: 1;
}

.info_container.noBorder {
    border: none;
}

.model_title {
    font-weight: 600;
    font-size: 17px;
}

.model_description {
    font-size: 11.2px;
    max-width: 90%;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.model_description > span {
    opacity: .8;

}

.model_description > span::before {
  content: "• "; /* Bullet character with space */
  color: rgb(255, 255, 255);  /* bullet color */
  font-weight: bold; /* optional */
}


@media (max-width: 575px) {
    .modelOverview {
        padding: 1rem 0;
        gap: 1.5rem;
    }
}




/* Dark Theme */

.dark .modelOverview {
    background-color: #5A0001;
}