.dashboard_wrapper {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    position: relative;
}

.page_content {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    color: black;
    overflow-x: hidden;
}

.pageTop {
    height: max-content;
    width: 100%;
    padding: .5rem;
}


.sideBar_trigger {
    cursor: pointer;
    width: fit-content;
}

.pageBody {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem 3rem;
}

.aboveTheFold {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboardTitle {
    font-size: 2.8rem;
    font-weight: 600;
    overflow-wrap: anywhere;
    text-transform: capitalize;
}

.userLogo {
    width: 180px;
    height: max-content;
    background-color: transparent;
}

.seperatorCss {
    margin: 12px 0;
    background-color: rgba(128, 128, 128, 0.519);
    height: 2px;
}

.modelsOverview {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex: 1;
    gap: 2rem;
    box-sizing: border-box;
    padding: 1.5rem 0;
}


 

@media (max-width: 1026px) {

    .pageBody {
        padding: 1rem 1.5rem;
    }

    .dashboardTitle {
        font-size: 3.6vw;
    }

    .modelsOverview {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}



@media (max-width: 575px) {

    .pageBody {
        padding: 1rem 2.5rem;
    }


    .panelBtn {
        transform: scale(1.14);
    }

    
.aboveTheFold {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 1.5rem;

}


    .dashboardTitle {
        font-size: 7vw;
    }

    .modelsOverview {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 1.5rem 0;
    }

}