
.page_content {
    width: 100%;
    min-height: 100vh;
    background-color: var(--page-content-bg);
    color: rgb(255, 255, 255);
    overflow-x: hidden;
}


/* Define the scrollbar width first */
.page_content::-webkit-scrollbar {
  width: 12px; /* or whatever width you want */
}

/* Style the scrollbar track */
.page_content::-webkit-scrollbar-track {
    background-color: var(--page-content-bg);
}

/* Optional: style the thumb (the draggable part) */
.page_content::-webkit-scrollbar-thumb {
  background-color: rgb(146, 146, 146);
  border: 4px solid var(--page-content-bg); 
  border-radius: 10px;
}

.pageTop {
    height: 55px;
    width: 100%;
    padding: .5rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: .4rem;
    color: var(--sidebar-toggle-btn);
    overflow: hidden;
    /* border: 1px solid white; */
}

.pageTop_iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in;
    padding: .6rem;
}

.pageTop_iconWrapper:hover {
    background-color: #393939;
}

.pageTop_icons {
}

.pageBody {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem 3rem;
}

.aboveTheFold {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboardTitle {
    font-size: 2.6rem;
    font-weight: 500;
    overflow-wrap: anywhere;
    text-transform: capitalize;
}

.userLogo {
    width: 180px;
    height: max-content;
    background-color: transparent;
}

.seperatorCss {
    margin: 12px 0;
    background-color: rgba(128, 128, 128, 0.519);
    height: 2px;
}

.modelsOverview {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex: 1;
    gap: 2rem;
    box-sizing: border-box;
    padding: 1.5rem 0;
}

 

@media (max-width: 1026px) {

    .pageBody {
        padding: 1rem 1.5rem;
    }

    .dashboardTitle {
        font-size: 3.6vw;
    }

    .modelsOverview {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}



@media (max-width: 575px) {

    .pageBody {
        padding: 1rem 2.5rem;
    }


    .panelBtn {
        transform: scale(1.14);
    }

    
.aboveTheFold {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 1.5rem;

}


    .dashboardTitle {
        font-size: 7vw;
    }

    .modelsOverview {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 1.5rem 0;
    }

}