.db_page_content {
    width: 100%;
    min-height: 100vh;
    background: var(--page-bg);

    color: var(--page-text);
    overflow-x: hidden;
    transition: background 0.2s linear;
}


/* Define the scrollbar width first */
.db_page_content::-webkit-scrollbar {
    width: 12px;
    /* or whatever width you want */
}

/* Style the scrollbar track */
.db_page_content::-webkit-scrollbar-track {
    background-color: var(--page-content-bg);
}

/* Optional: style the thumb (the draggable part) */
.db_page_content::-webkit-scrollbar-thumb {
    background-color: rgb(146, 146, 146);
    border: 4px solid var(--page-content-bg);
    border-radius: 10px;
}

.db_pageTop {
    height: 55px;
    width: 100%;
    padding: .5rem;
    width: 100%;
    gap: .4rem;
    color: var(--sidebar-toggle-btn);
    overflow: hidden;
    /* border: 1px solid white; */
}

.db_pageTop_iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in;
    padding: .6rem;
}

.db_pageTop_iconWrapper:hover {
    background-color: #393939;
}

.db_pageBody {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem 3rem;
    gap: 2.4rem;
}

.db_aboveTheFold {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;
    /* border: 1px solid black; */
    width: 100%;
}

.dashboardLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: 100%;
}

.dl_logo {
    width: 400px;
    height: max-content;
}

.twiqDef_title {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: 100%;
}

.twiqDef_title .title {
    font-size: 40px;
    font-weight: 800;
    color: black;
}

.twiqDef_title .title span {
    color: #510003;
}

.twiq_description_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    box-sizing: border-box;
    padding: 0 2rem;
}

.descTxt {
    width: 70%;
    text-align: center;
    font-size: 18px;
    color: #6c0101;
    font-weight: 600;
    max-width: 1026px;
}

.twiq_furtherDescription_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3.2rem;
    box-sizing: border-box;
    align-items: stretch;
    padding: 0 2rem;
    max-width: 2026px;
    align-self: center;
}

.tfd_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.tfd_letter {
    font-size: 48px;
    font-weight: bolder;
    color: #510003;
}

.tfd_header {
    font-size: 16px;
    font-weight: 600;
}

.tfd_desc {
    font-size: 14px;
    font-weight: 500;
}

.db_modelsOverview {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(max-content, 280px) minmax(max-content, 280px) minmax(max-content, 280px) minmax(max-content, 280px);
    grid-template-rows: minmax(360px, 250px) minmax(360px, 250px);
    flex: 1;
    gap: 2.4rem;
    box-sizing: border-box;
    padding: 1.5rem auto;
    height: max-content;
    max-width: 2026px;
    align-self: center;
    place-content: center;
}

.downloadPDF_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
    
    .db_modelsOverview {
        grid-template-columns: minmax(max-content, 280px) minmax(max-content, 280px) minmax(max-content, 280px);
        grid-template-rows: minmax(360px, 250px) minmax(360px, 250px) minmax(360px, 250px);
    }
}

@media (max-width: 1026px) {

    .db_pageBody {
        padding: 1rem 1.5rem;
    }

    .db_dashboardTitle {
        font-size: 3.6vw;
    }

    .db_modelsOverview {
        gap: 4rem;
    }


    .twiq_furtherDescription_container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.4rem;
        padding: 0 1.4rem;
    }

    .db_modelsOverview {
        grid-template-columns: minmax(max-content, 280px) minmax(max-content, 280px);
        grid-template-rows: minmax(360px, 250px) minmax(360px, 250px) minmax(360px, 250px) minmax(360px, 250px);
    }

    .descTxt {
        width: 100%;
    }
}



@media (max-width: 800px) {
    .twiq_furtherDescription_container {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 575px) {

    .db_pageBody {
        padding: 1rem 2rem;
    }


    .db_aboveTheFold {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;
        gap: 1.5rem;

    }


    .dashboardTitle {
        font-size: 7vw;
    }

    .db_modelsOverview {
        gap: 2rem;
        justify-content: center;
        padding: 1.5rem 0;
    }

    .twiq_furtherDescription_container {
        grid-template-columns: 1fr;
    }

    .db_modelsOverview {
        grid-template-columns: minmax(max-content, 280px);
        grid-template-rows: minmax(360px, 250px) minmax(360px, 250px) minmax(360px, 250px) minmax(360px, 250px) minmax(360px, 250px) minmax(360px, 250px) minmax(360px, 250px) minmax(360px, 250px);
    }


    .twiq_description_container {
        padding: 0 0;
    }

    .descTxt {
        width: 100%;
        font-size: 14px;
    }
}




/* Dark Theme */

.dark .db_page_content {
    background: var(--page-bg-dark);

    color: var(--page-text-dark);

}

.dark .descTxt,
.dark .tfd_letter,
.dark .twiqDef_title .title span {
    color: var(--active-sidebar-item);
}

.dark .twiqDef_title .title {
    color: white;
}